<div class="header">
  <h2>Students</h2>
  <div class="header-actions">
    <button class="add-student-btn" (click)="openCreate()">
      Add Student
    </button>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>

  <table class="students-table">
  <thead>
    <tr>
      <th class="col_name">Name</th>
      <th class="col_email">Email</th>
      <th class="col_age">Age</th>
      <th class="col_course">Course</th>
      <th class="col_action">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of dataSource">
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.course }}</td>
      <td >
        <button mat-icon-button (click)="openEdit(student)" aria-label="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteStudent(student)" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

